/* CSS Document */
#animatedLogo              { margin:0px 0px; float:left}
#universityName            { margin:70px 40px;float:right; }
#wrapper                   { width: 900px; margin:0 auto; background-color:#DCD092}
#mainWrapper               { width: 920px; margin:0 auto; background-color:#DCD092}
body                       { background-image:url(background.jpg)}
#topNavigate               { clear:both}
#topNavigate ul            { border-top: 3px #703334 double; border-bottom: #703334 double;
                             margin:10px 0; padding:10px}
#topNavigate ul li         { display:inline; }
#topNavigate li a          { padding:40px;  }

#topNavigate a:link        { color: black; font: sans-serif; font-weight:bold; }
#topNavigate a:visited     { color: #B3A9A9; }
#topNavigate a:hover       { color: #DB6A6C; font-style: normal;}
#grade                     { width:250px; height: 300px; border:double;}









body    
{     
    font:  12px  Arial, Helvetica, sans-serif; 
}          
#accordion h2   
{  
    width:600px;     
    padding: 10px;      
    margin: 0 0 7px 0;  
    border: 1px dotted #2AA0AF;   
    background-color: #5AA1C4;  
    font-size: 15px;  
    border-top: 3px solid #57A7A8;  
}    
#accordion h2 a     
{    
    text-decoration: none;    
    color: #932123;     
}    
#accordion div     
{
	width: 600px;
	padding: 0 10px;
	margin-top: 10px;
	margin-right: 0;
	margin-left: 0px;
	margin-bottom: px;
	border: 1px dotted #FF4848;
	color: #9B9D9D;
}    
#accordianWrapper{
	width: 600px;
	margin-left: 150px;
	margin-top: 100px;
}


#actualFooter {
	border: medium solid #2A8AA3;
	text-align: center;
	color: #5B1314;
	margin-bottom: -0px;
	margin-top: 70px;
}
